@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: hsl(192 36% 21%);
    color: white;
    padding: 4em;
}

.intro {
    width: 70%;
    max-width: 60ch;
}

.intro-text {
    line-height: 1.5em;
}

.intro-button {
    background-color: hsl(184 68% 54%);
    border: none;
    border-radius: 2em;
    padding: 0.8em 1.2em;
    font-weight: 900;
    margin-top: 2.5em;
    text-transform: uppercase;
}
